@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap");

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: url("../assets/coding.png") no-repeat left center fixed;
	background-color: #ccc;
}

main {
	flex-grow: 1;
}

section {
	max-width: 800px;
	margin: 40px auto;
}

#app {
	display: flex;
	flex-direction: column;
	color: black;
	align-items: center;
	font-size: 20px;
	font-family: "Mali", cursive;
}
