header {
	background-color: #90323d;
	padding: 0px 50px;
	text-align: center;
	height: 50px;
	font-family: "Mali", cursive;
}

.title {
	font-size: 25px;
	padding: 10px;
	color: white;
	font-weight: 600;
}
